@charset "UTF-8";

/* トップ画面用 */

.top-content {
	/* bodyにデフォルトで8pxのマージンがあるので打ち消し */
	margin: 0px;
	position: relative;
	height: 100vh;
}

.street {
	background-image: url("../img/street_blur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.anti-pick-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}

.anti-pick-list > *{
	flex-grow: 1;
}

.anti-pick-icon {
	/*
	min-width: 50px;
	min-height: 50px;
	width: 3.5vw;
	height: 3.5vw;
	*/
	object-fit: cover;
	/*
	background-color: rgba(0, 0, 0, 0.7);
	border: solid 1px white;
	*/
	border-radius: 4px;
}

.hero-picker {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 16px;
}

.hero-picker-col {
	display: flex;
	gap: 4px 0px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero-picker-row {
	display: flex;
	gap: 0px 8px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero:hover .hero-icon {
	transform: scale(1.0, 1.0);
	background-color: whitesmoke;
	outline: solid 1.5px white;
}

.hero-icon {
	min-width: 50px;
	min-height: 50px;
	width: 3.5vw;
	height: 3.5vw;
	object-fit: cover;
	background-color: rgba(0, 0, 0, 0.7);
	border: solid 1px white;
	border-radius: 4px;
}

.hero-name {
	position: absolute;
	top: 90%;
	white-space: nowrap;
	text-align: center;
	background-color: white;
	line-height: 120%;
	border-radius: 2px;
	padding: 0px 2px;
	z-index: 50;
}

.display-none {
	display: none;
}

.active {
	transform: scale(1.1, 1.1);
	outline: solid 1.5px #f5a742;
	box-shadow: 1px 1px 24px 4px #f5a742;
}

/* ---- */

.error {
	color: red;
}

.error-form {
	border-color: red;
}