@charset "UTF-8";

@font-face {
	font-family: "top-font";
	src: url("../fonts/07LogoTypeGothic7.ttf");
}

/* 定数 */
:root {
	--hero-img-width: 256px;
	--ow-orange: #F06414;
	--ow-blue: #0074e0;
	--nav-bar: rgba(229, 235, 244, .8);
}

/* ヘッダー */

.nav-bar {
	position: fixed;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 16px;
	background-color: var(--nav-bar);
	right: 32px;
	left: 32px;
	top: 16px;
	height: 48px;
	border-radius: 16px;
	box-sizing: border-box;
}

.logo {
	height: 100%;
}

.nav-menu {
	display: flex;
	align-items: center;
	height: 100%;
}

.mypage-btn {
	display: flex;
	box-sizing: border-box;
	padding: 10px;
	align-items: center;
	height: 90%;
	background-color: var(--ow-orange);
	opacity: 0.85;
	color: white;
	border-radius: 12px;
	text-decoration: none;
}

.mypage-btn:hover {
	opacity: 1;
}

/* トップ画面用 */

.top-content {
	/* bodyにデフォルトで8pxのマージンがあるので打ち消し */
	margin: 0px;
	padding-top: 72px;
	position: relative;
	height: 100vh;
	overflow: hidden;
	font-family: top-font;
	box-sizing: border-box;
}

.street {
	background-image: url("../img/street_blur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.anti-pick-list {
	max-height: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 5px;
	overflow: scroll;
	box-sizing: border-box;
	padding: 4px 0px;
}

.anti-pick-hero {
	position: relative;
	max-width: var(--hero-img-width);
	border-radius: 4px;
}

.anti-pick-hero-icon {
	object-fit: cover;
}

.anti-pick-hero-reason {
	position: absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	line-height: 120%;
	border-radius: 2px;
	z-index: 50;
	box-sizing: border-box;
	padding: 2% 4%;
}

.hero-picker {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 16px;
	z-index: 100;
}

.hero-picker-col {
	display: flex;
	gap: 4px 0px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero-picker-row {
	display: flex;
	gap: 0px 8px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero:hover .hero-icon {
	transform: scale(1.05, 1.05);
	background-color: whitesmoke;
	outline: solid 1.5px white;
}

.hero-icon {
	min-width: 50px;
	min-height: 50px;
	width: 3.5vw;
	height: 3.5vw;
	object-fit: cover;
	background-color: rgba(0, 0, 0, 0.7);
	border: solid 1px white;
	border-radius: 4px;
	transition: 0.1s;
}

.hero-name {
	position: absolute;
	top: 90%;
	white-space: nowrap;
	text-align: center;
	background-color: white;
	line-height: 120%;
	border-radius: 2px;
	padding: 0px 2px;
	z-index: 100;
	letter-spacing: 0.1rem;
}

/*
 * 非表示用 色々な場所で使われる
 */
.display-none {
	display: none;
}

/*
 * 選択用のstyle
 */
.active {
	transform: scale(1.15, 1.15);
	outline: solid 1.5px #f5a742;
	box-shadow: 1px 1px 24px 4px var(--ow-orange);
	background-color: var(--ow-orange);
}

/*
 * イベントを無効化する。選択中はhoverを無効にしたいため
 */
.event-none {
	pointer-events: none;
}

/* ボタンのデザインの初期化とpositionの設定 */
.logout-btn {
	position: fixed;
	bottom: 2%;
	right: 2%;
	color: white;
	text-decoration: underline;
	z-index: 100;
	cursor: pointer;

	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: top-font;
}

/* フォーム用 */

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem 0;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem 0;
	width: 100%;
}

.form-text {
	min-width: 10rem;
	max-width: 20rem;
	width: 60%;
	padding: 0.5rem;
	font-size: 1.0rem;
	border: 1px solid lightgray;
	border-radius: 4px;
}

.form-btn {
	outline: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: top-font;
	text-decoration: none;

	padding: 0.8rem 1.6rem;
	border-radius: 8px;
	background-color: var(--ow-blue);
	color: white;
	cursor: pointer;
}

.form-btn-secondary {
	outline: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: top-font;
	text-decoration: none;

	padding: 0.8rem 1.6rem;
	border: 1px solid var(--ow-blue);
	border-radius: 8px;
	color: var(--ow-blue);
	cursor: pointer;
}

.form-btn:hover,
.form-btn-secondary:hover {
	opacity: 0.8;
}

/* ---- */

body {
	min-height: 100vh;
	margin: 0px;
	font-family: top-font;
}

.content-center {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.width-100 {
	width: 100vw;
}