@charset "UTF-8";

.top-content {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: end;
	margin: 0px;
}

.street {
	background-image: url("../img/street_blur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.hero-picker {
	display: flex;
	gap: 4px 8px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mb-4 {
	margin-bottom: 16px;
}

.hero-picker .row {
	flex-direction: row;
}

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero:hover .hero-icon {
	transform: scale(1.0, 1.0);
	background-color: whitesmoke;
	outline: solid 1.5px white;
}

.hero:hover .hero-name {
	display: block;
}

.hero-icon {
	min-width: 50px;
	min-height: 50px;
	width: 3.5vw;
	height: 3.5vw;
	object-fit: cover;
	background-color: rgba(0, 0, 0, 0.7);
	border: solid 1px white;
	border-radius: 4px;
}

.active {
	transform: scale(1.1, 1.1);
	outline: solid 1.5px #f5a742;
	box-shadow: 1px 1px 24px 4px #f5a742;
}

.hero-name {
	display: none;
	position: absolute;
	top: 90%;
	white-space: nowrap;
	text-align: center;
	background-color: white;
	line-height: 120%;
	border-radius: 2px;
	padding: 0px 2px;
	z-index: 1;
}

.error {
	color: red;
}

.error-form {
	border-color: red;
}