<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body class="top-content street">

	<div class="hero-picker mb-4">
		<div class="hero-picker row">
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
		</div>
		<div class="hero-picker row">
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
			<div class="hero-icon"></div>
			<img class="hero-icon" th:src="@{/img/common.png}">
		</div>
	</div>

</body>

</html>