<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<link rel="preload" as="font" th:href="@{/fonts/07LogoTypeGothic7.ttf}" crossorigin />
</head>

<body class="top-content colosseo">

	<div class="nav-bar">
		<div class="logo">
			<a th:href="@{/}"><img class="logo" th:src="@{/img/logo.webp}"></a>
		</div>
		<div class="nav-menu">
			<a th:href="@{/anti-pick}">アンチピックを編集</a>
			<a sec:authorize="isAuthenticated()" class="mypage-btn" th:href="@{/}">
				トップに戻る
			</a>
			<a sec:authorize="!isAuthenticated()" class="mypage-btn" th:href="@{/login}">
				ログイン
			</a>
		</div>
	</div>

	<!-- アンチピックヒーロー -->
	<th:block th:each="hero, heroStat : ${heroWithAntiPickDTO}">
		<div th:id="'hero-' + ${heroStat.index} + '-anti-pick-list'" class="anti-pick-list display-none">
			<th:block th:each="antiPick, antiPickStat : ${hero.antiPickWithHeroDTOList}">

				<div class="anti-pick-hero">
					<th:block th:if="${antiPick.antiHeroImageName}">
						<img class="anti-pick-hero-icon"
							th:src="@{/img/hero/{imageName}(imageName=${antiPick.antiHeroImageName})}">
					</th:block>
					<th:block th:unless="${antiPick.antiHeroImageName}">
						<img class="anti-pick-hero-icon" th:src="@{/img/hero/common.png}">
					</th:block>

					<div class="anti-pick-hero-reason">
						<span th:text="${antiPick.reason}" />
					</div>
				</div>

			</th:block>
		</div>
	</th:block>

	<!-- ヒーローピッカー -->
	<div class="hero-picker hero-picker-col">

		<!-- 一列目（前半） -->
		<div class="hero-picker-row">
			<th:block th:each="hero, stat : ${heroWithAntiPickDTO}">
				<th:block th:if="${stat.index < stat.size / 2}">

					<div th:id="'hero-' + ${stat.index}" class="hero">
						<th:block th:if="${hero.imageName}">
							<img class="hero-icon" th:src="@{/img/hero/{imageName}(imageName=${hero.imageName})}">
						</th:block>
						<th:block th:unless="${hero.imageName}">
							<img class="hero-icon" th:src="@{/img/hero/common.png}">
						</th:block>

						<div class="hero-name display-none">
							<span th:text="${hero.name}" />
						</div>
					</div>

				</th:block>
			</th:block>
		</div>

		<!-- 二列目（後半） -->
		<div class="hero-picker-row">
			<th:block th:each="hero, stat : ${heroWithAntiPickDTO}">
				<th:block th:if="${stat.index >= stat.size / 2}">

					<div th:id="'hero-' + ${stat.index}" class="hero">
						<th:block th:if="${hero.imageName}">
							<img class="hero-icon" th:src="@{/img/hero/{imageName}(imageName=${hero.imageName})}">
						</th:block>
						<th:block th:unless="${hero.imageName}">
							<img class="hero-icon" th:src="@{/img/hero/common.png}">
						</th:block>

						<div class="hero-name display-none">
							<span th:text="${hero.name}" />
						</div>
					</div>

				</th:block>
			</th:block>
		</div>

	</div>

	<div sec:authorize="isAuthenticated()">
		<form th:action="@{/logout}" method="post">
			<button type="submit" class="logout-btn">ログアウト</button>
		</form>
	</div>

	<script th:src="@{/js/top.js}"></script>
</body>

</html>