<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>

	anti!!!
	↓アンチピックを追加する

	<th:block th:each="hero : ${heroList}">
		<li><a th:href="@{anti-pick/add/} + ${hero.id}" th:text="${hero.name}">あああ</a></li>
	</th:block>

	<br />

	<table border="1">
		<thead>
			<tr>
				<th>ヒーロー</th>
				<th>アンチピック</th>
			</tr>
		</thead>

		<tbody>
			<th:block th:each="antiPick : ${AntiPickWithHeroDTOList}">
				<tr>
					<td th:text="${antiPick.heroName}"></td>
					<td th:text="${antiPick.antiHeroName}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>

</body>

</html>