<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="preload" as="font" th:href="@{/fonts/07LogoTypeGothic7.ttf}" crossorigin />
	<link rel="preload" th:href="@{/js/main.js}" as="script">
	<link rel="preload" th:href="@{/js/antiPickList.js}" as="script">
	<link rel="preload" th:href="@{/css/main.css}" as="style">
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body class="anti-pick-edit-body">
	<th:block th:if="${!#strings.isEmpty(message)}">
		<div class="flash-message" th:text="${message}"></div>
	</th:block>

	<div class="nav-bar">
		<div class="logo">
			<a th:href="@{/}"><img class="logo" th:src="@{/img/logo.webp}"></a>
		</div>
		<div class="nav-menu">
			<a sec:authorize="isAuthenticated()" class="mypage-btn" th:href="@{/my-anti-pick}">
				マイアンチピック
			</a>
			<a sec:authorize="!isAuthenticated()" class="mypage-btn" th:href="@{/login}">
				ログイン
			</a>
		</div>
	</div>

	<form th:action="@{/anti-pick}" method="post" th:object="${antiPickListForm}" class="anti-pick-update-form">

		<button type="submit" class="float-btn">アンチピックを更新する</button>

		<table>
			<th:block th:each="hero : ${heroWithAntiPickDTO}">
				<tr>
					<th class="pick-hero-th">
						<img class="pick-hero-icon" draggable="false"
							th:src="@{/img/hero/{imageName}(imageName=${hero.imageName})}"></img>
					</th>
					<td class="droparia" name="droparia" th:id="${'hero-id-' + hero.id}">
						<th:block th:each="antiPick : ${hero.getAntiPickWithHeroDTOList}">
							<div name="add-anti-pick">
								<img class="anti-pick-hero-icon-for-update"
									th:name="${'anti-hero-id-' + hero.id +'About' + antiPick.antiHeroId}"
									th:src="@{/img/hero/{imageName}(imageName=${antiPick.antiHeroImageName})}">
								<input type="hidden" th:name="${'heroIdMap[' + hero.id + '][]'}"
									th:value="${antiPick.antiHeroId}">
							</div>
						</th:block>
					</td>
				</tr>
			</th:block>
		</table>

		<div class="removearia" id="removearia">
			<img draggable="false" th:src="@{/img/trash.svg}" />
		</div>
	</form>

	<div class="anti-select-list">
		<span>ドラッグ&ドロップでリストへ配置</span>
		<div class="anti-pick-hero-list">
			<!--/*
			idにhero_idを付与して識別
			アンチピックをドロップする側にはidは付与しない（重複してしまう）
		*/-->
			<th:block th:each="hero : ${heroWithAntiPickDTO}">
				<div>
					<img class="anti-pick-hero-icon-for-update" th:name="${'anti-hero-id-' + hero.id}"
						th:id="${'anti-hero-id-' + hero.id}"
						th:src="@{/img/hero/{imageName}(imageName=${hero.imageName})}"></img>
				</div>
			</th:block>
		</div>
	</div>
	<script th:src="@{/js/antiPickList.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>

</html>