<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.mapper.AntiPickMapper">

	<select id="findByUserIdWithHero"
		resultMap="findByUserIdWithHero">
		SELECT
		anti_pick.id,
		anti_pick.user_id,
		anti_pick.hero_id,
		anti_pick.anti_hero_id,
		anti_pick.reason,
		anti_pick.created,
		anti_pick.modified,
		h1.name as hero_name,
		h1.image_name as
		hero_image_name,
		h2.name as anti_hero_name,
		h2.image_name as
		anti_hero_image_name
		FROM anti_pick
		LEFT JOIN hero as h1
		ON
		anti_pick.hero_id = h1.id
		LEFT JOIN hero as h2
		ON anti_pick.anti_hero_id
		= h2.id
		WHERE user_id = #{userId}
	</select>

	<resultMap id="findByUserIdWithHero"
		type="com.example.demo.dto.AntiPickWithHeroDTO">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="heroId" column="hero_id" />
		<result property="antiHeroId" column="anti_hero_id" />
		<result property="reason" column="reason" />
		<result property="created" column="created" />
		<result property="modifired" column="modifired" />
		<result property="heroName" column="hero_name" />
		<result property="heroImageName" column="hero_image_name" />
		<result property="antiHeroName" column="anti_hero_name" />
		<result property="antiHeroImageName"
			column="anti_hero_image_name" />
	</resultMap>

	<!-- インサート -->
	<insert id="save">
		INSERT INTO anti_pick(
		user_id,
		hero_id,
		anti_hero_id,
		reason,
		created,
		modified
		)
		values(
		#{userId},
		#{heroId},
		#{antiHeroId},
		#{reason},
		NOW(),
		NOW()
		)
	</insert>

	<!-- 一括登録 -->
	<insert id="saveAll">
		INSERT INTO anti_pick
		(
		user_id,
		hero_id,
		anti_hero_id,
		created,
		modified
		)
		VALUES
		<foreach collection="antiPickList" item="antiPick"
			separator=",">
			(
			#{antiPick.userId},
			#{antiPick.heroId},
			#{antiPick.antiHeroId},
			NOW(),
			NOW()
			)
		</foreach>
	</insert>

</mapper>
