<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.mapper.CommonAntiPickMapper">

	<select id="findAll"
		resultType="com.example.demo.entity.CommonAntiPick">
		SELECT * FROM common_anti_pick
	</select>

	<select id="findAllWithHero" resultMap="findAllWithHero">
		SELECT
		common_anti_pick.id,
		common_anti_pick.hero_id,
		common_anti_pick.anti_hero_id,
		common_anti_pick.reason,
		common_anti_pick.created,
		common_anti_pick.modified,
		h1.name as hero_name,
		h1.image_name as
		hero_image_name,
		h2.name as anti_hero_name,
		h2.image_name as
		anti_hero_image_name
		FROM common_anti_pick
		LEFT JOIN hero as
		h1
		ON
		common_anti_pick.hero_id = h1.id
		LEFT JOIN hero as h2
		ON
		common_anti_pick.anti_hero_id = h2.id
	</select>

	<resultMap id="findAllWithHero"
		type="com.example.demo.dto.CommonAntiPickWithHeroDTO">
		<id property="id" column="id" />
		<result property="heroId" column="hero_id" />
		<result property="antiHeroId" column="anti_hero_id" />
		<result property="reason" column="reason" />
		<result property="created" column="created" />
		<result property="modifired" column="modifired" />
		<result property="heroName" column="hero_name" />
		<result property="heroImageName" column="hero_image_name" />
		<result property="antiHeroName" column="anti_hero_name" />
		<result property="antiHeroImageName"
			column="anti_hero_image_name" />
	</resultMap>

	<!-- インサート -->
	<insert id="save">
		INSERT INTO common_anti_pick(
		hero_id,
		anti_hero_id,
		reason,
		created,
		modified
		)
		values(
		#{heroId},
		#{antiHeroId},
		#{reason},
		NOW(),
		NOW()
		)
	</insert>

</mapper>
