<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.mapper.HeroMapper">

	<!-- 全件取得 -->
	<select id="findAll" resultType="com.example.demo.entity.Hero">
		SELECT * FROM hero
	</select>

	<select id="findByUserIdWithAntiPick" resultMap="findByUserIdWithAntiPick">
		SELECT
		hero.id,
		hero.role_id,
		hero.image_name,
		hero.name,
		hero.created,
		hero.modified,
		anti_pick.id as anti_pick_id,
		anti_pick.anti_hero_id,
		h.name as anti_hero_name,
		h.image_name as anti_hero_image_name,
		anti_pick.reason
		FROM hero
		LEFT JOIN anti_pick
		ON hero.id = anti_pick.hero_id
		LEFT JOIN hero as h
		ON anti_pick.anti_hero_id = h.id
		WHERE user_id = #{userId}
	</select>

	<resultMap id="findByUserIdWithAntiPick"
		type="com.example.demo.dto.HeroWithAntiPickDTO">
		<id property="id" column="id" />
		<result property="roleId" column="role_id" />
		<result property="imageName" column="image_name" />
		<result property="name" column="name" />
		<result property="created" column="created" />
		<result property="modifired" column="modifired" />
		<collection property="antiPickWithHeroDTOList"
			ofType="com.example.demo.dto.AntiPickWithHeroDTO">
			<id property="id" column="anti_pick_id" />
			<result property="antiHeroId" column="anti_hero_id" />
			<result property="antiHeroName" column="anti_hero_name" />
			<result property="antiHeroImageName" column="anti_hero_image_name" />
			<result property="reason" column="reason" />
		</collection>
	</resultMap>

	<select id="findAllWithCommonAntiPick" resultMap="findAllWithCommonAntiPick">
		SELECT
		hero.id,
		hero.role_id,
		hero.image_name,
		hero.name,
		hero.created,
		hero.modified,
		common_anti_pick.id as anti_pick_id,
		common_anti_pick.hero_id,
		common_anti_pick.anti_hero_id,
		h.name as anti_hero_name,
		h.image_name as anti_hero_image_name,
		common_anti_pick.reason,
		common_anti_pick.created as anti_pick_created,
		common_anti_pick.modified as anti_pick_modified
		FROM hero
		LEFT JOIN common_anti_pick
		ON hero.id = common_anti_pick.hero_id
		LEFT JOIN hero as h
		ON common_anti_pick.anti_hero_id = h.id
	</select>

	<resultMap id="findAllWithCommonAntiPick"
		type="com.example.demo.dto.HeroWithCommonAntiPickDTO">
		<id property="id" column="id" />
		<result property="roleId" column="role_id" />
		<result property="imageName" column="image_name" />
		<result property="name" column="name" />
		<result property="created" column="created" />
		<result property="modifired" column="modifired" />
		<collection property="commonAntiPickWithHeroDTOList"
			ofType="com.example.demo.dto.CommonAntiPickWithHeroDTO">
			<id property="id" column="anti_pick_id" />
			<result property="heroId" column="hero_id" />
			<result property="antiHeroId" column="anti_hero_id" />
			<result property="antiHeroName" column="anti_hero_name" />
			<result property="antiHeroImageName"
				column="anti_hero_image_name" />
			<result property="reason" column="reason" />
		</collection>
	</resultMap>

	<!-- インサート -->
	<insert id="save">
		INSERT INTO hero(
		role_id,
		name,
		created,
		modified
		)
		values(
		#{roleId},
		#{name},
		NOW(),
		NOW()
		)
	</insert>

</mapper>
